ColetorFotos/ColetorFotos/SiteFotosColetor/FotosColetor/Web References/WsFotosColetor/Upload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GravarFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idWorkflowFoto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autonumCntrBl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autonumPatio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autonumCsOp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autonumCsrdx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autonumPatiordx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagemBase64" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarFotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GravarFotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imagem_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterFotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterFotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imagem_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirFotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcluirFotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GravarFotoSoapIn">
    <wsdl:part name="parameters" element="tns:GravarFoto" />
  </wsdl:message>
  <wsdl:message name="GravarFotoSoapOut">
    <wsdl:part name="parameters" element="tns:GravarFotoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterFotoSoapIn">
    <wsdl:part name="parameters" element="tns:ObterFoto" />
  </wsdl:message>
  <wsdl:message name="ObterFotoSoapOut">
    <wsdl:part name="parameters" element="tns:ObterFotoResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirFotoSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirFoto" />
  </wsdl:message>
  <wsdl:message name="ExcluirFotoSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirFotoResponse" />
  </wsdl:message>
  <wsdl:portType name="UploadSoap">
    <wsdl:operation name="GravarFoto">
      <wsdl:input message="tns:GravarFotoSoapIn" />
      <wsdl:output message="tns:GravarFotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterFoto">
      <wsdl:input message="tns:ObterFotoSoapIn" />
      <wsdl:output message="tns:ObterFotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirFoto">
      <wsdl:input message="tns:ExcluirFotoSoapIn" />
      <wsdl:output message="tns:ExcluirFotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadSoap" type="tns:UploadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarFoto">
      <soap:operation soapAction="http://tempuri.org/GravarFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFoto">
      <soap:operation soapAction="http://tempuri.org/ObterFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirFoto">
      <soap:operation soapAction="http://tempuri.org/ExcluirFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadSoap12" type="tns:UploadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarFoto">
      <soap12:operation soapAction="http://tempuri.org/GravarFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterFoto">
      <soap12:operation soapAction="http://tempuri.org/ObterFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirFoto">
      <soap12:operation soapAction="http://tempuri.org/ExcluirFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Upload">
    <wsdl:port name="UploadSoap" binding="tns:UploadSoap">
      <soap:address location="https://localhost:44378/Upload.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadSoap12" binding="tns:UploadSoap12">
      <soap12:address location="https://localhost:44378/Upload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>