Coletor/Service References/DesovaService/DesovaService98.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.MobileServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.MobileServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses" />
  <xs:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.Camera" />
  <xs:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.OperationType" />
  <xs:complexType name="ResponseStart">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="idTimeline" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseStart" nillable="true" type="tns:ResponseStart" />
  <xs:complexType name="ResponseStop">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="success" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseStop" nillable="true" type="tns:ResponseStop" />
  <xs:complexType name="ResponseLoadInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses" base="q3:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.Camera" minOccurs="0" name="Cameras" nillable="true" type="q4:ArrayOfResponse" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.OperationType" minOccurs="0" name="OperationTypes" nillable="true" type="q5:ArrayOfResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseLoadInfo" nillable="true" type="tns:ResponseLoadInfo" />
</xs:schema>