Coletor/Service References/DesovaService/DesovaService91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Core" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Desova.Shared.Core" minOccurs="0" name="SortDirection" type="q1:Enumerators.SortDirection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
</xs:schema>