Coletor/Service References/DesovaService/DesovaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DesovaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Requests.MobileServices" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Requests" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Core" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.MobileServices" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.Camera" />
      <xsd:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.OperationType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDesovaService_StartRecording_InputMessage">
    <wsdl:part name="parameters" element="tns:StartRecording" />
  </wsdl:message>
  <wsdl:message name="IDesovaService_StartRecording_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartRecordingResponse" />
  </wsdl:message>
  <wsdl:message name="IDesovaService_StopRecording_InputMessage">
    <wsdl:part name="parameters" element="tns:StopRecording" />
  </wsdl:message>
  <wsdl:message name="IDesovaService_StopRecording_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopRecordingResponse" />
  </wsdl:message>
  <wsdl:message name="IDesovaService_LoadInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadInfo" />
  </wsdl:message>
  <wsdl:message name="IDesovaService_LoadInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDesovaService">
    <wsdl:operation name="StartRecording">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesovaService/StartRecording" message="tns:IDesovaService_StartRecording_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesovaService/StartRecordingResponse" message="tns:IDesovaService_StartRecording_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopRecording">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesovaService/StopRecording" message="tns:IDesovaService_StopRecording_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesovaService/StopRecordingResponse" message="tns:IDesovaService_StopRecording_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesovaService/LoadInfo" message="tns:IDesovaService_LoadInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesovaService/LoadInfoResponse" message="tns:IDesovaService_LoadInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDesovaService" type="tns:IDesovaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartRecording">
      <soap:operation soapAction="http://tempuri.org/IDesovaService/StartRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopRecording">
      <soap:operation soapAction="http://tempuri.org/IDesovaService/StopRecording" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadInfo">
      <soap:operation soapAction="http://tempuri.org/IDesovaService/LoadInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DesovaService">
    <wsdl:port name="BasicHttpBinding_IDesovaService" binding="tns:BasicHttpBinding_IDesovaService">
      <soap:address location="http://10.1.50.108:7021/DesovaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>