Coletor/Service References/DesovaService/DesovaService95.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.OperationType" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses.OperationType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.50.108:7021/DesovaService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses" />
  <xs:complexType name="ArrayOfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Response" nillable="true" type="tns:Response" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponse" nillable="true" type="tns:ArrayOfResponse" />
  <xs:complexType name="Response">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Desova.Shared.Model.DTO.Responses" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="descriptionOperationType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idOperationType" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>